"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio          = [ 1, 3, 4 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse 	 = false
sort_dir_first = true
sort_translit  = false
linemode       = "size"
show_hidden    = true
show_symlink   = true
scrolloff      = 5
mouse_events   = [ "click", "scroll" ]
title_format   = "{cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 1000
max_height      = 900
cache_dir       = ""
image_delay     = 30
image_filter    = "triangle"
image_quality   = 75
sixel_fraction  = 15
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]

[opener]
edit = [
	{ run = 'code-insiders "$1"', orphan = true, desc = "code", for = "unix" },
]

[plugin]
prepend_previewers = [
  { name = "*.ipynb", run = "rich-preview" },
  { name = "*.csv", run = "rich-preview"}, 
  { name = "*.md", run = "rich-preview" }, 
  { name = "*.json", run = "rich-preview"},
  { name = "*.yml", run = "rich-preview"},
  { name = "*.yaml", run = "rich-preview"},
  { name = "*.json", run = "rich-preview"},
  { name = "*/", run = "eza-preview" },
]
