.vscode-dark { color: #afafa0; }
.vscode-dark a { color: #61AFEF; }
.vscode-dark p { color: #afafa0; }
.vscode-dark pre code { color: #a1cfa0; }
.vscode-dark .katex-block { color: #f0f0f0 !important; }
.vscode-dark li::marker { color: #ff8a3d; }
.vscode-dark table, td, tr { 
	border: 1px solid #55554a85; 
	border-collapse: collapse; color: #859548d9 !important; 
} 
.vscode-dark th { 
	border: 1px solid #55554a85; border-collapse: collapse; background-color: #010101 !important; color: #177 !important; 
} 

.vscode-dark h1 { font-weight: 600; color: #ff6d41; }
.vscode-dark h2 { font-weight: 600; color: #ff8a3d; }
.vscode-dark h3 { font-weight: 600; color: #ffb14a; }
.vscode-dark h4 { font-weight: 600; color: #ffd264; }
.vscode-dark h5 { font-weight: 600; color: #c6da64; }
.vscode-dark h6 { font-weight: 600; color: #8fc88a; }
.vscode-dark pre:not(.hljs),
.vscode-dark code>div { background-color: #101010; }

.vscode-dark table>thead>tr>th { border-color: #2C323C; }
/* .vscode-dark h1, */
.vscode-dark hr,
.vscode-dark table>tbody>tr+tr>td { border-color: #2C323C; }

.vscode-dark blockquote {
	color: #5C6370;
	font-style: italic;
	background: transparent;
	border-color: #2C323C;
}
